@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=DM+Sans:wght@300;400;500&display=swap');

:root {
  --bg:        #090909;
  --bg2:       #111111;
  --bg3:       #161616;
  --surface:   #1a1a1a;
  --border:    #242424;
  --border2:   #303030;
  --text:      #e4e2dc;
  --muted:     #7a7a7a;
  --dim:       #444444;
  --accent:    #b5f542;
  --amber:     #f5a623;
  --blue:      #42d4f4;
  --mono:      'Space Mono', monospace;
  --sans:      'DM Sans', sans-serif;
  --nav-h:     60px;
}

body {
  margin: 0;
  background: #090909;
}
* {
  box-sizing: border-box;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
